@font-face {
    font-family: 'Spotify Mix';
    src: url('SpotifyMix-Bold.woff2') format('woff2'),
        url('SpotifyMix-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

