@font-face {
    font-family: 'Deezer Product';
    src: url('DeezerProduct-Bold.woff2') format('woff2'),
        url('DeezerProduct-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

