@font-face {
    font-family: 'Al-Jazeera-Arabic';
    src: url('Al-Jazeera-Arabic-Light.woff2') format('woff2'),
        url('Al-Jazeera-Arabic-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

